/*Global Styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 2rem;
  font-weight: normal;
}
h4,
h5 {
  font-size: 1.8rem;
  font-weight: normal;
}
a {
  color: white;
  text-decoration: none;
}

.button-29 {
  align-items: center;
  appearance: none;
  background: #4c6e97;
  border: none;
  color: azure;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 2rem 5rem;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: background 0.4s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-29:hover {
  background: #27394e;
  font-size: 2rem;
}

/* Navigation section with HERO */

.main-head {
  background: #131c27;
  color: white;
  /* position: sticky;
  top: 0px;
  z-index: 3; */
}
nav {
  padding: 2rem;
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
#logo {
  flex: 3 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: normal;
}
.land-page {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("images/lightsout.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.land-page h3_ {
  padding: 7rem;
}

/* locations section  */
#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("images/new-york-page.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.locations-head {
  width: 90%;
  margin: auto;
}
.locations-head h2 {
  font-size: 3.8rem;
  padding: 1rem 0rem;
  text-decoration: underline;
}
.locations-head h4 {
  padding: 1rem 0rem;
  /* background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  pointer-events: none;
}
.moving-cloud-1 {
  animation: cloudAnimation 5s infinite alternate ease-in-out;
}
.moving-cloud-2 {
  top: 10%;
  z-index: -1;
  opacity: 0.74;
  animation: cloudAnimation 8s infinite alternate ease-in-out;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* whyus section  */
.whyus-head {
  background: #131c27;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
  text-align: center;
}
.whyus-head h4 {
  padding: 1rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}
.cards img {
  max-width: 15%;
  margin: 2rem;
}

.card h2,
.card p {
  padding: 1rem;
}
.card-icon {
  background: #131c27;
}

/* contact page  */
#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("images/contact-mountain.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrapper {
  background-color: rgba(19, 28, 39, 0.8);
  width: 40%;
  color: azure;
  border-radius: 20px;
}

.form-head {
  text-align: center;
  padding: 4rem;
}

.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}

.form-wrapper label {
  margin: 0rem 3rem;
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-wrapper input {
  padding: 1rem 3rem;
}

footer {
  color: azure;
  background: rgba(19, 28, 39, 1);
  text-align: center;
}

/* media querry  */
@media screen and (max-width: 950px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }
  .cloud {
    height: 40rem;
    pointer-events: none;
  }
  .locations-head h4 {
    background: rgba(19, 28, 39, 0.3);
    -webkit-text-fill-color: white;
    text-align: center;
  }
  .form-wrapper {
    width: 100%;
  }
  footer {
    text-align: center;
  }
}
